@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
body{
    font-family: "Bangers", system-ui;  
    
        background-color: #f4f4f4;
}
section{
    max-width: 1140px;
    margin: 0 auto;
}
.menu ul li{
    display: inline-block;
}
